* {

    margin:0;

    padding:0;

}

a {

    outline:none;

    color: #424E56;

}

body {

    background-repeat:repeat;

    line-height: 1.6em;

    font-weight:normal;

    color: #424E56;

    background-image:url("../images/bg1.png");

}

.logo {

    left: 0;

    position: absolute;

}

.logo img, .logo img a {

    border:none;

}

/*** Change Background ***/

#bg_1 {

    background-image:url("../images/bg1.png");

}

#bg_2 {

    background-image:url("images/bg2.png");

}

#bg_3 {

    background-image:url("images/bg3.png");

}

#bg_4 {

    background-image:url("images/bg4.png");

}

#bg_5 {

    background-image:url("images/bg5.png");

}

#bg_6 {

    background:#f4f4f4;

}

/*** Change Theme ***/

.change_theme {

    background: none repeat scroll 0 0 #FFFFFF;

    border-radius: 0 6px 0 0;

    -moz-border-radius: 0 6px 0 0;

    border-right: 1px solid #CED2D8;

    border-top: 1px solid #CED2D8;

    border-bottom: 1px solid #CED2D8;

    font-family: Arial;

    font-size: 12px;

    left: 0;

    padding: 5px 15px;

    position: absolute;

    text-decoration: none;

    top: 100px;

}

.change_theme_2 {

    background: none repeat scroll 0 0 #FFFFFF;

    border-radius: 0 6px 0 0;

    -moz-border-radius: 0 6px 0 0;

    border: 1px solid #CED2D8;

    font-family: Arial;

    font-size: 12px;

    left: 0;

    padding: 5px 15px;

    position: absolute;

    text-decoration: none;

    top: 100px;

}

.change_theme:hover {

    cursor:pointer;

    color:#BF3F3F;

}

.options {

    background: none repeat scroll 0 0 #FFFFFF;

    border-radius: 0 6px 6px 0;

    box-shadow: 1px 1px 0 #CED2D8;

    display: block;

    left: 0;

    padding: 10px 10px 10px 15px;

    position: absolute;

    top: 135px;

    width: 125px;

}

.options ul li {

    display: inline-block;

    height: 25px;

    list-style: none outside none;

    margin: 3px 1px;

    width: 25px;

}

.options a {

    width:25px;

    height:25px;

    display:inline-block;

    text-indent:-9999px;

}

.color_comb {

    border-bottom: 1px solid #CED2D8;

    display: block;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 11px;

    line-height: 17px;

    margin-bottom: 3px;

    padding-top: 5px;

}

.bgul li a {

    border:1px solid #CED2D8;

}

.bg_1_click {

    background:url("prev/bg_1_click.png") no-repeat;

}

.bg_2_click {

    background:url("prev/bg_2_click.png") no-repeat;

}

.bg_3_click {

    background:url("prev/bg_3_click.png") no-repeat;

}

.bg_4_click {

    background:url("prev/bg_4_click.png") no-repeat;

}

.bg_5_click {

    background:url("prev/bg_5_click.png") no-repeat;

}

.bg_6_click {

    background:url("prev/bg_6_click.png") no-repeat;

}

.red_1_click {

    background:url("prev/red_1.png") no-repeat;

}

.red_2_click {

    background:url("prev/red_2.png") no-repeat;

}

.blue_1_click {

    background:url("prev/blue_1.png") no-repeat;

}

.blue_2_click {

    background:url("prev/blue_2.png") no-repeat;

}

.blue_3_click {

    background:url("prev/blue_3.png") no-repeat;

}

.purple_1_click {

    background:url("prev/purple_1.png") no-repeat;

}

.green_1_click {

    background:url("prev/green_1.png") no-repeat;

}

.green_2_click {

    background:url("prev/green_2.png") no-repeat;

}

.green_3_click {

    background:url("prev/green_3.png") no-repeat;

}

.yellow_1_click {

    background:url("prev/yellow_1.png") no-repeat;

}

.yellow_2_click {

    background:url("prev/yellow_2.png") no-repeat;

}

.yellow_3_click {

    background:url("prev/yellow_2.png") no-repeat;

}

.brown_1_click {

    background:url("prev/brown_1.png") no-repeat;

}

.brown_2_click {

    background:url("prev/brown_2.png") no-repeat;

}

.gray_1_click {

    background:url("prev/gray_1.png") no-repeat;

}

.gray_2_click {

    background:url("prev/gray_2.png") no-repeat;

}

/*** Font Face ***/

@font-face {

    font-family:'Yanone Kaffeesatz';

    src: url('font/YanoneKaffeesatz-Regular-webfont.eot');

    src: url('font/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('font/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('font/YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');

    font-weight: normal;

    font-style: normal;

}

.custom_font {

    font-family:'Yanone Kaffeesatz', arial, serif;

    font-variant: normal;

    font-weight: normal;

    white-space: normal;

}

/*** Illustrations ***/

.ufo {

    display: block;

    height: 149px;

    position: absolute;

    right: 150px;

    top: 15px;

    width: 200px;

}

.red_1 .ufo-image, .red_2 .ufo-image {

    background: url("images/ufo-red.png") no-repeat scroll 0 0 transparent;

}

.blue_1 .ufo-image, .blue_2 .ufo-image, .blue_3 .ufo-image, .blue_4 .ufo-image {

    background: url("images/ufo-blue.png") no-repeat scroll 0 0 transparent;

}

.purple_1 .ufo-image {

    background: url("images/ufo-purple.png") no-repeat scroll 0 0 transparent;

}

.green_1 .ufo-image, .green_2 .ufo-image, .green_3 .ufo-image, .green_4 .ufo-image {

    background: url("images/ufo-green.png") no-repeat scroll 0 0 transparent;

}

.yellow_1 .ufo-image, .yellow_2 .ufo-image, .yellow_3 .ufo-image, .yellow_4 .ufo-image {

    background: url("images/ufo-yellow.png") no-repeat scroll 0 0 transparent;

}

.brown_1 .ufo-image, .brown_2 .ufo-image {

    background: url("images/ufo-brown.png") no-repeat scroll 0 0 transparent;

}

.gray_1 .ufo-image, .gray_2 .ufo-image {

    background: url("images/ufo-gray.png") no-repeat scroll 0 0 transparent;

}

/*** Layout Holders ***/

.text_1, .text_2, .text_3, .text_4, .buttons_1, .seach_1, .links_1 {

    display: block;

    float: left;

    text-align: center;

    width: 100%;

}

/*** Layout Margins ***/

.text_1 {

    margin: 34px 0 0;

}

.text_2 {

    margin: 75px 0 0;

}

.text_3 {

    margin: 15px 0 0;

}

.text_4 {

    margin: 60px 0 0;

}

.buttons_1 {

    margin: 33px 0 0;

}

.seach_1 {

    margin: 15px 0 0;

}

.links_1 {

    margin: 15px 0 0;

}

/*** Layout Typo ***/

.text_2 {

    font-size: 100px;

    line-height: 1.3em;

    letter-spacing:1px;

}

.solutions_text {

    font-size:24px;

}

.reasons_big {

    font-size:36px;

}

.reasons_small {

    font-size:30px;

}

.reasons_big, .reasons_small {

    line-height:1.2em;

}

/*** Text And Backgrounds ***/

.error_main {

    background: url("images/guideline_bg.png") no-repeat scroll center 11px transparent;

    height: 650px;

    margin: 0 auto;

    max-height: 100%;

    width: 960px;

    position:relative;

}

.error_text_span {

    border-bottom: 3px solid #424E56;

    border-top: 3px solid #424E56;

    color: #424E56;

    font-family: Georgia, "Times New Roman", Times, serif;

    font-size: 30px;

    font-style: italic;

    font-weight: normal;

    line-height: 1.3em;

    padding: 0 20px 2px;

}

/*** Search Form Elements ***/

.seach_1 form {

    width:335px;

    margin:0 auto;

}

.input_search {

    background: url("images/input_search.png") no-repeat scroll 0 0 transparent;

    border: medium none;

    color: #424E56;

    display: block;

    font-family: Georgia, "Times New Roman", Times, serif;

    font-size: 16px;

    font-style: italic;

    font-weight: normal;

    height: 43px;

    padding: 0 60px 0 10px;

    text-shadow: 0 1px 0 #FFFFFF;

    width: 265px;

}

.input_search {

    padding-top: 13px \0/;

}

.search_button {

    margin-top: -61px \0/;

}

/*** Button Elements ***/

.buttons_1 a {

    display:block;

    height:52px;

    width:195px;

    text-indent:-9999px;

    font-size:0;

}

.buttons_1 a:hover {

    background-position:0 -54px;

}

.search_button {

    background: url("images/search_button.png") no-repeat scroll 0 0 transparent;

    border: medium none;

    display: block;

    float: right;

    font-size: 0;

    height: 58px;

    margin: -49px 20px 0 0;

    text-indent: -9999px;

    width: 42px;

}

.search_button:hover {

    cursor:pointer;

}

.search_button {

    margin-top: -61px \0/;

}

.input_search {

    padding-top: 13px \0/;

}

/*** Links Footer ***/

.links_1 ul {

    display:inline-block;

}

.links_1 ul li {

    list-style: none outside none;

    float:left;

    margin:0 5px;

    float:left;

}

.links_1 ul li a {

    font-size:20px;

    text-decoration:none;

}

.links_1 ul li a:hover {

    -o-transform: scale(1.1);

    -moz-transform: scale(1.1);

    -webkit-transform: scale(1.1);

    -ms-transform: scale(1.1);

    transform: scale(1.1);

}

/*** Color Variations ***/

/*** RED ***/

/*** ----------------RED 1 ***/

.red_1 .error_type {

    color:#cc3333;

}

.red_1 .home {

    background:url("images/home_red_1.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.red_1 .contact {

    background:url("images/contact_red_1.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** ----------------RED 2 ***/

.red_2 .error_type {

    color:#990000;

}

.red_2 .home {

    background:url("images/home_red_2.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.red_2 .contact {

    background:url("images/contact_red_2.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** BLUE ***/

/*** ----------------BLUE 1 ***/

.blue_1 .error_type {

    color:#66cccc;

}

.blue_1 .home {

    background:url("images/home_blue_1.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.blue_1 .contact {

    background:url("images/contact_blue_1.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** ----------------BLUE 2 ***/

.blue_2 .error_type {

    color:#7878de;

}

.blue_2 .home {

    background:url("images/home_blue_2.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.blue_2 .contact {

    background:url("images/contact_blue_2.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** ----------------BLUE 3 ***/

.blue_3 .error_type {

    color:#006586;

}

.blue_3 .home {

    background:url("images/home_blue_3.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.blue_3 .contact {

    background:url("images/contact_blue_3.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** PURPLE ***/

/*** ----------------PURPLE ***/

.purple_1 .error_type {

    color:#381c54;

}

.purple_1 .home {

    background:url("images/home_purple_1.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.purple_1 .contact {

    background:url("images/contact_purple_1.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** GREEN ***/

/*** ----------------GREEN 1 ***/

.green_1 .error_type {

    color:#4e8622;

}

.green_1 .home {

    background:url("images/home_green_1.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.green_1 .contact {

    background:url("images/contact_green_1.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** ----------------GREEN 2 ***/

.green_2 .error_type {

    color:#365100;

}

.green_2 .home {

    background:url("images/home_green_2.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.green_2 .contact {

    background:url("images/contact_green_2.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** ----------------GREEN 3 ***/

.green_3 .error_type {

    color:#4e8622;

}

.green_3 .home {

    background:url("images/home_green_3.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.green_3 .contact {

    background:url("images/contact_green_3.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** YELLOW ***/

/*** ----------------YELLOW 1 ***/

.yellow_1 .error_type {

    color:#e7c657;

}

.yellow_1 .home {

    background:url("images/home_yellow_1.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.yellow_1 .contact {

    background:url("images/contact_yellow_1.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** ----------------YELLOW 2 ***/

.yellow_2 .error_type {

    color:#858521;

}

.yellow_2 .home {

    background:url("images/home_yellow_2.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.yellow_2 .contact {

    background:url("images/contact_yellow_2.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** ----------------YELLOW 3 ***/

.yellow_3 .error_type {

    color:#865000;

}

.yellow_3 .home {

    background:url("images/home_yellow_3.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.yellow_3 .contact {

    background:url("images/contact_yellow_3.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** BROWN ***/

/*** ----------------BROWN 1 ***/

.brown_1 .error_type {

    color:#66431e;

}

.brown_1 .home {

    background:url("images/home_brown_1.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.brown_1 .contact {

    background:url("images/contact_brown_1.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** ----------------BROWN 2 ***/

.brown_2 .error_type {

    color:#875a2d;

}

.brown_2 .home {

    background:url("images/home_brown_2.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.brown_2 .contact {

    background:url("images/contact_brown_2.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** BLACK/GRAY ***/

/*** ----------------GRAY 1 ***/

.gray_1 .error_type {

    color:#858585;

}

.gray_1 .home {

    background:url("images/home_gray_1.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.gray_1 .contact {

    background:url("images/contact_gray_1.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}

/*** ----------------GRAY 2 ***/

.gray_2 .error_type {

    color:#363636;

}

.gray_2 .home {

    background:url("images/home_gray_2.png") no-repeat;

    float:left;

    margin:0 0 0 130px;

}

.gray_2 .contact {

    background:url("images/contact_gray_2.png") no-repeat;

    float:right;

    margin:0 130px 0 0;

}