.navbar #info {
	font-size: 13px;
	padding-right: 85px;
	position: absolute;
	right: 20px;
	text-align: right;
	top: 12px;
}

.navbar #info h4 {
	font-size: 16px;
	margin-bottom: .6em;
}

.navbar #info img {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 3px solid #FFF;
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
}

.projectlist {
	overflow-y: auto;
	height: 120px;
}

.data-block {
	position: relative;
	margin-bottom: 20px;
	background: #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.data-block header {
	padding: 10px;
	margin-bottom: 5px;
}

.data-block header.blue h2 {
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.data-block header h2 {
	margin: 0;
	display: inline-block;
	font-size: 17.5px;
	line-height: 28px;
}

.data-block section {
	padding: 20px;
}

.data-block header h2 + .btn, .data-block header h2 + .btn-group, .data-block header .data-header-actions {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.data-block header h2 + .data-header-actions a {
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	padding: 4px 12px;
	text-align: center;
	vertical-align: middle;
}

.aboutModule {
	padding: 5px;
}

p.aboutModuleTitle {
	color: #74838F;
	padding: 20px;
	font-size: 14px;
	text-align: center;
}

.aboutModuleInformation {
	background: none repeat scroll 0 0 #F1F1F1;
	overflow: hidden;
	border: 1px solid #C4C9CC;
	padding: 10px;
}

.aboutModuleInformation ul.aboutModuleInformationList {
	list-style: none outside none;
	padding-left: 0;
	margin-bottom: 10px;
}

ul.aboutModuleInformationList li {
	list-style-type: none;
}

.aboutModuleInformation ul.aboutModuleInformationList li img.aboutModuleInformationIcon {
	float: left;
}

.aboutModuleInformation ul.aboutModuleInformationList li span.aboutModuleInformationTitle {
	font-weight: bold;
	font-size: 13px;
	margin-left: 48px;
	display: block;
}

.aboutModuleInformation ul.aboutModuleInformationList li span.aboutModuleInformationDesc {
	color: #74838F;
	display: block;
	font-size: 13px;
	margin: 0 10px 13px 48px;
}

.help-inline {
	width: 100%;
}

.help-inline label {
	font-size:11px;
	color: #3a87ad;
}

label .required {
	color: #b94a48;
	font-weight: bold;
}