.module-title i {
	padding-right: 15px;
}

#menu ul li.glyph a {
	padding: 0 0 0 50px;
}

#menu ul li.glyph a i:before {
	font-size: 1.6em;
	color: #003E57;
	top: 10px;
	left: 20px;
}

.breadcrumb .glyph {
	color: #333;
	padding: 0 0 0 30px;
}

[class^="icon-"], [class*=" icon-"] {
	color: #003E57;
}

.glyph {
  display: inline-block;
  position: relative;
  padding: 5px 0 5px 35px;
  color: #1d1d1b;
  text-decoration: none;
  *display: inline;
  *zoom: 1;
}

.glyph i:before {
  position: absolute;
  left: 0;
  top: 0;
  font: 14px/1em 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  color: #1d1d1b;
}

.glyph.home i:before {
  content: "\f015";
  font-size: 1.5em;
}

.glyph.projects i:before {
  content: "\f02c";
}

.glyph.file i:before {
  content: "\f15c";
}

.glyph.calendar i:before {
  content: "\f073";
}

.glyph.cogwheels i:before {
  content: "\f013";
}

.glyph.logout i:before {
	content: "\f011";
}